.not-found-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
    width: 400px;
}
.not-found-heading {
    color: #475569;
    font-size: 42px;
    font-family: 'Roboto';
}
.not-found-para {
    color: #7b8794;
    font-size: 22px;
    font-family: 'Roboto';
}
